#menu {
    background-color: black;
    padding: 10px;
    text-align: center;
    text-decoration-color: white;
    text-decoration: none;
    
    display: grid;
}

body {
    background-color: rgba(0, 0, 0, 0.889);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav {
    display: inline;
    
    text-decoration: none;
    text-align: center;
    grid-area: nav;
    
    padding: 10px;
    text-align: center;
}

main {
    grid-area: main;
    padding: 100px;
    
    border-radius: 10px;
}

aside {
    grid-area: aside;
    padding: px;
    
    border-radius: 10px;
}