#menu li {
    background-color:rgba(239, 217, 217, 0.488);
    padding: 10px;
    text-align: center;
    text-decoration-color: white;
    text-decoration: none;
    list-style: none;
    display: inline;

}

#menu ul {
    background-color: rgba(239, 217, 217, 0.488);
    padding: 10px
    ;
}

body {
    background-color: white;
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav {
    display: inline;
    
    text-decoration: none;
    text-align: center;
    grid-area: nav;
    
    padding: 10px;
    text-align: center;
}

main {
    grid-area: main;
    padding: 100px;
    
    border-radius: 10px;
}

aside {
    grid-area: aside;
    padding: px;
    
    border-radius: 10px;
}